.container {
    width: 650px;
    margin: 10px;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.dropdownContainer {

}
.container > li {
    display: flex;
    box-sizing: border-box;
    padding: 18px 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
    
}
