
.reviewsHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headerLabel {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #d32323;
}

.headerForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbarWrapper {
  display: flex;
  align-items: center;
}
.searchbar {
  box-sizing: border-box;
  border: 1px solid #999;
  height: 30px;
  width: 260px;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px; 
  text-indent: .5rem;
  
}

.searchButton {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  border: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
  background-color: #d32323;
}