.userInfo {
    display: flex;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.avatarPanel {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-right: 9px solid transparent;
}

.avatar {
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    object-fit: cover;
}

.details {
    list-style: none;
    padding-inline-start: 0px;
    line-height: 18px;
}

.userName {
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 115, 187);
}

.city {
    font-size: 12px;
    font-weight: 700;
    color: rgb(51, 51, 51);
}

.stats {
    display: flex;
    align-items: center;
    widows: 100%;
    font-size: 12px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

.eliteStatus {
    text-decoration-line: none;
    color:  #f15c00;
}

.eliteStatus:hover {
    text-decoration-line: underline;
}