
.composeReview {
    display: flex;
}

.composeReviewSidePanel {
    display: inline-block;
    min-width: 220px;
}
.composeReviewBody {
    width: 425px;
    padding-left: 40px;
}

.composeReviewIsland {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 382px;
    height: 94px;
    padding: 11px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}

.starsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.linkWrapper {
    padding: 5px 0px;
}

.startReviewLink {
    text-decoration: none;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0073bb;
    font-size: 14px;
    font-weight: 400;
}

.startReviewLink:hover {
    text-decoration-line: underline;
}

